opencv-python==4.13.0.92; sys_platform == 'linux'
opencv-python==4.11.0.86; sys_platform != 'linux'
pyinstaller==6.19.0
lobe==0.6.2

tflite-runtime==2.14.0; sys_platform == 'linux'
--extra-index-url https://google-coral.github.io/py-repo/
tflite-runtime==2.5.0.post1; sys_platform != 'linux'
