altgraph==0.17.2
certifi==2022.5.18.1
charset-normalizer==2.0.12
cycler==0.11.0
future==0.18.2
idna==3.3
kiwisolver==1.4.3
lobe==0.6.2
matplotlib==3.5.2
numpy==1.22.4
opencv-python==4.5.5.64
pefile==2022.5.30
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.6
pyparsing==3.0.9
python-dateutil==2.8.2
pywin32-ctypes==0.2.0
requests==2.27.1
six==1.16.0
--extra-index-url https://google-coral.github.io/py-repo/
tflite-runtime==2.5.0.post1
urllib3==1.26.9
