numpy<2.0.0 # matplotlib is built with NumPy 1.x and conflicts with OpenCV 4.9+
opencv-python==4.11.0.86
pyinstaller==6.15.0
lobe==0.6.2

--extra-index-url https://google-coral.github.io/py-repo/
tflite-runtime==2.14.0; sys_platform == 'linux'
tflite-runtime==2.5.0.post1; sys_platform != 'linux'
