# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on: [ workflow_dispatch, push, pull_request ]

jobs:
  build:

    runs-on: windows-latest
    env:
      Script_Name: TRIKLobeServer
      Python_Version: 3.9 # 3.10 is missing pre-built `tflite-runtime`

    steps:
      - uses: actions/checkout@v2
      - uses: benjlevesque/short-sha@v3.0
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          python --version
          python -m pip install --upgrade pip wheel
          pip install flake8
          pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=120 --statistics
      - name: Build single app for ${{ env.SCRIPT_NAME }}
        run: pyinstaller ${{ env.SCRIPT_NAME }}.py --icon=trik-studio.ico --onefile
      - name: Archive artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.SCRIPT_NAME }}-${{ runner.os }}-${{ env.SHA }}
          path: |
            dist
            settings.ini
